*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resultat{
    text-align: right;
    font-size: 22px;
    font-family: 'Orbitron', sans-serif;
    padding-top: 7px;
    width: 438px;
    border: 2px solid black;
    height: 55px; 
    border-radius: 8px;
}

.base{
    text-align: center;
    margin-top: 120px;
    width: 450px;
    border:3px black solid;
    border-radius: 12px;
    background: linear-gradient(to bottom, rgb(255, 255, 255),rgb(216, 225, 235));
    
    
}
.base2{
    margin-right: -30px;
}

h6{
    font-family: cursive;
    text-decoration: underline;
}
p{
    border: 2px solid black; 
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    
}

.button{
    padding: 10px 10px;
    background-color: white;
    box-shadow: 1px 1px 8px #03142d;
}


.btn p{
    border: none;
}
.lastLine{
    margin-top: -49px;
}

#plus{
    padding: 40px 20px;
    margin-bottom: 0;
    margin-left: 0px;
}